/*///////////////////////GLOBAL STYLES AND CSS RESET///////////////////////////*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*///////////////////////LAYOUT///////////////////////////*/
body {
	line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(244, 247, 245);
  display: grid;
  grid-template-columns: 630px 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.background-pic{
  grid-row: 1/-1;
}

/*///////////////////////BACKGROUND SECTION///////////////////////////*/


.background-pic{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("img/yoga-img.jpg");
  background-size: cover;
  display:flex;
  flex-direction: column;
}

.logo{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  height: 120px;
  width:100%;
  margin: 5vh auto 0;
}

.logo p{
  color: #fff;
  font-family: 'Water Brush', cursive;
  font-size: clamp(4rem, 1.25vw, 1.25rem);
  padding-right: 2rem;
  margin: 0 auto 0 0;
}

.logo img{
  width: 100px;
  margin: 0 0 0 auto;
}

.credit{
margin: auto auto 1vh auto;
font-size: 0.8rem;
color:rgba(255, 255, 255, 0.4)
}

/*///////////////////////TOP TEXT SECTION///////////////////////////*/

.top-paragraph{
  padding: 2.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-paragraph p{
  color:rgb(9, 49, 27);
  width: min(600px, 80%);
  margin-top: 12px;
}
.top-paragraph p:last-child{
  font-weight: 800;
}
.italic{
  font-style: italic;
}

/*///////////////////////MIDDLE FORM SECTION///////////////////////////*/

.form-container{
  background-color:#fff;
  box-shadow: 0px 5px 10px rgba(12, 63, 35, 0.2);
  padding: 2.4rem;
}

form{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);

}

fieldset:first-of-type{
  grid-column: 1/-1;
  grid-row: 1/2;
}
fieldset:nth-of-type(2){
  grid-column: 1/-1;
  grid-row: 2/3;
}
fieldset:nth-of-type(3){
  grid-column: 1/-1;
  grid-row: 3/4;
}
fieldset:nth-of-type(4){
  grid-column: 1/-1;
  grid-row: 4/-1;
}

/*///////////////////////BOTTOM BUTTON, TEXT AND LINK SECTION///////////////////////////*/

.button{
  padding: 2.4rem;
}


button{
  align-items: center;
  background-color: rgb(9, 49, 27);
  border: 0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  max-width: 480px;
  min-height: 46px;
  padding: 0.6rem 2.4rem;
  text-align: center;
}

button:hover{
  background-color: #225c44;
  color: #ffffff;
}

.button p{
  margin-top: 25px;
  font-weight: 500;
  color: rgb(9, 49, 27);
}

a {
text-decoration: none;
color: #225C44;
font-weight: 600;
}

a:hover{
  color:#339069;
  text-decoration: underline;
}